body {
    font-family: "Verdana"
}

.savage-header {
    background: #004990;
}

.savage-header .navbar-brand {
    height:auto;
}
.savage-header .navbar-brand>img, .savage-header .navbar-brand .sub-logo{display:inline-block;padding-top:15px;}
.savage-header .navbar-brand .sub-logo {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    vertical-align: bottom;
	padding-left:15px;
}

.savage-header .navbar-brand .sub-logo:first-letter {
    font-size: 36px;
}

.navbar-inverse,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background: transparent none;
}

.navbar-inverse .navbar-toggle {
    border: 0
}

.siteActions {
    margin: 10px 0;
}
.siteActions li > a{
	padding: 0 10px; color:#fff;
}
.navbar-inverse .navbar-nav.siteActions>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav.siteActions ul.dropdown-menu>li>a:hover {
    color: #fff;
}

#navbar {
    background: #f89720 none;
}

.nav li>a {
    padding: 5px 20px;
    color: #fff;
    display: block;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav li:hover>a,
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: #009ddc none;
}

.nav li.active>a {
    background: #009ddc none;
}

.navbar,
.dropdown-menu {
    padding: 0;
    border: 0;
    box-shadow: none;
}

.nav li:hover>ul {
    display: block;
}

.nav li>ul>li:hover>a {
    background: #7ad4ff none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
}

.dropdown-submenu>a:after {
    font-family: "Glyphicons Halflings";
    display: block;
    content: "\e258";
    float: right;
    width: 0;
    height: 0;
}

.btn,
.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}

.btn-orange {
    background-color: #f89720;
    border-color: #f89720;
}

.icon-addon {
    position: relative;
}

.icon-left {
    position: absolute;
    left: 10px;
    top: 10px
}

.icon-addon .form-control {
    padding-left: 30px;
}

.search-icon-addon {
    border-radius: 20px;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
}

.open>.custom-select {
    background: transparent!important;
}

@media only screen and (min-width:768px){
	.savage-header .navbar-brand>img, .savage-header .navbar-brand .sub-logo {
		padding-top: 0px;
	}
	.siteActions {
		float:right;
		margin-top:40px;
	}
	.siteActions .open{
		
	}
}
@media only screen and (max-width:767px){
	.savage-header .navbar-brand{float:none;}
	
	.nav li:hover .dropdown-menu{position:static;min-width: 0;padding-left:5px;
    float: none;}
	.dropdown-submenu>a:after{
		transform:rotate(90deg);
	}
}